
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Zaloguj się", "../Account/Login")
</p>
<p>
    @Html.ActionLink("Załóż konto", "../Account/Register")
</p>
